<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Kraios Suite" parallel="methods" thread-count="4">

	<test name="ACL ">
		<parameter name="browser" value="chrome" />
		<classes>

			<class name="com.hm.kraios.workFlow.DemoTest" />

		</classes>



	</test>
</suite>
	